@import 'variables';
.navbar-header, footer {
  height: $header-height;
  line-height:  $header-height;
  font-size: small;
  border-top: 1px solid #eeeeee;
  background-color: $light-background-color !important;
}


.navbar-header {
  font-size:  $header-height * 0.5;
  border-bottom: 1px solid darken($light-background-color, 0.5);
  text-transform: uppercase;
  letter-spacing: -1;
  font-weight: 100;
}

.push {
  height: $header-height;
}
footer {
  padding: 0 5%;
}