@import 'bootstrap/variables';
@import 'variables';
table {
  .image.thumb {
    img {
      max-height: 50px;
    }
  }
}

.posts {
  padding-top: 80px; /* header height + 40 */
  h1,h2,h3,h4,h5,h5 {
    font-weight: 100;
  }
  .post {
    border-radius: 2px;
    max-width: 90%;
    margin: auto auto 5% auto;
    padding: 25px 30px;
    background-color: $light-background-color;
    box-shadow: 0 0 5px 0px #eee;

    img {
      box-shadow: 0 0 5px 0px #ccc;
    }
    
    .date {
      font-style: italic;
      position:relative;
      top: -13px;
    }
  }
  .note {
    margin-top: 20px;
    font-size: 1.3rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-sm-min) { 
  .posts .post {
    max-width: 70%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  .posts .post {
    max-width: 600px;
    padding: 25px 40px;
    .note {
      font-size: 1.6rem;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .post {
    max-width: 40%;
    padding: 25px 40px;
  }
}

