@import 'bootstrap/variables';
@import 'variables';
table {
  .image.thumb {
    img {
      max-height: 50px;
    }
  }
}

.posts {
  padding-top: 80px; /* header height + 40 */
  h1,h2,h3,h4,h5,h5 {
    font-weight: 100;
  }
  #load-more {
    margin-bottom: 20px;
    font-size: 6rem;
    display:block;
    margin-bottom: 20px;
    line-height:6rem;
    height: 6rem;
    position: relative;
    i {
      top: -10px;
      position: relative;
    }
    &:hover {
      color: rgba(200,200,200,0.4);
    }
  }
  .post {
    border-radius: 2px;
    margin: auto auto 20px auto;
    text-align: center;
    padding: 25px 30px;
    background-color: $light-background-color;
    box-shadow: 0 0 5px 0px #eee;

    .img {
      background-color: transparent;
      margin: auto;
      img {
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        background-color: transparent;
      }
    }
    
    .date {
      font-style: italic;
      position:relative;
      top: -13px;
    }
  }
  .note {
    margin-top: 20px;
    font-size: 1.3rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-sm-min) { 
  .posts .post {
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  .posts .post {
    padding: 25px 40px;
    .note {
      font-size: 1.6rem;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .post {
    padding: 25px 40px;
  }
}

